#wrapper{
    width: auto;
    margin: 5%;
    font-family: 'lato', sans-serif;
}
h1{
    text-align: center;
    font-size: 2.5em;
}
#slideshow{
 display: block;
    margin-left: 30%;
    margin-right: auto;
    width: 50%;
}
#foreword{
    width: auto;
    margin: 5%;
    align-content: center;
    font-size: 1.1em;
}
#date{
    font-weight: 600;
    color: black;
    font-size: 1em;
    border-style: solid;
    border-color: #FF9900;
}
#date h2{
     padding: 2%;
     background-color: #FF9900;
    margin-top: 0;
}
#date1{
    width: 50%;
    margin: 5%;
}
#date2{
    top: 58%;
    left: 55%;
    position: absolute;
}
#detail{
    width: auto;
    margin: 5%;
    align-content: center;
    line-height: 1.25em;
}
#contact{
    width: auto;
    margin: 5%;
    align-content: center;
}
footer{
    font-family: 'futura', sans-serif;
    color: white;
    font-weight: 100;
    padding: 1px;
    background-color: #CC0000;
    text-align: right; 
    padding-right: 4%;
}
